{% extends 'base.html' %}

{% block content %}

{% if form.errors %}
  <p>Введите корректные имя пользователя и пароль учётной записи. Пожалуйста, повоторите попытку.</p>
{% endif %}

<p class="text-center">Ещё не зарегистрированы. Перейдите по ссылке, чтобы <a href="{% url 'register' %}">зарегистрироваться.</a></p>
<div class="mx-auto" style="width: 300px;">
<form method="post" action="{% url 'login' %}" >
{% csrf_token %}
<div class="mx-auto" style='width: 200px;' >
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <button type="submit" class="btn btn-dark" value="{{next}}">Войти</button>
</div>
</form>

<p class="text-center"><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>

{% endblock %}