{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if form.errors %}
  <p>Введите корректные имя пользователя и пароль учётной записи. Пожалуйста, повоторите попытку.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>У вашего аккаунта нет доступа к этой странице. Чтобы продолжить,
    пожалуйста войдите в аккаунт с необходимым уровнем доступа.</p>
    <p>Пожалуйста войдите в аккаунт, чтобы увидеть эту страницу.</p>
  {% endif %}
{% endif %}
<p>Ещё не зарегистрированы. Перейдите по ссылке, чтобы <a href="{% url 'register' %}">зарегистрироваться.</a></p>

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>

<tr>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</tr>

<tr>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>

{% endblock %}