{% extends 'base.html' %}
{% load static %}


{% block title %} {{ category }} {% endblock %}
{% block content %}
<h1 class="text-center lh-lg">{{ category }}</h1>

<div class="conteiner bg-light">
    {% for news in news_queryset %}
        <div class="card mb-5 mx-auto" style="max-width: 850px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ news.image.url }}" class="img-fluid rounded-start h-100" alt="...">
                </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'news' news.slug_news %}">{{ news.name }}</a></h5>
                    <p class="card-text">{{ news.content|truncatewords:50 }}</p>
                    <p class="card-text"><small class="text-muted">Добавлено: {{ news.time }}</small></p>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}
</div>

<nav aria-label="...">
    <ul class="pagination justify-content-center bg-dark">
        {% if page_obj.has_previous %}
            <li class="page-item "><a class="page-link link-dark" href="?page={{page_obj.number|add:-1}}#">Предыдущая</a></li>
        {% endif %}
        {% for page in page_counter %}
            {% if page|add:1 == page_obj.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link link-dark" href="?page={{page|add:1}}">{{ page|add:1 }}</a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link link-dark" href="?page={{page|add:1}}">{{ page|add:1 }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link link-dark" href="?page={{page_obj.number|add:1}}#">Следующая</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}

