{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'news/index.css' %}">
{% endblock %}

{% block title %} Главная {% endblock %}
{% block content %}

    <nav class="navbar navbar-expand-lg bg-dark fixed-top">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">
                <img src="{% static 'news/logo.png' %}" alt="" width="30" height="40" class="d-inline-block">
                Проект сайта новостей
            </span>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Главная</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Категории
                        </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Действие</a></li>
                                <li><a class="dropdown-item" href="#">Другое действие</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
                            </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
            </div>
        </div>
    </nav>
        <h1>Последние новости</h1>
        <div class="conteiner">
            <div class="row">
                {% for news in last_news %}
                    <div class="col-md-6">
                        <h1>{{ news.name }}</h1>
                        {{ news.category }}
                        <p><img src="{{ news.image.url }}" alt=""></p>
                        {{ news.time }}
                    </div>
                {% endfor %}
            </div>
        </div>


    <p>
        <h1>Другие новости</h1>
        <div>
            {% for news in other_news %}
                {{ news.name }}
            {% endfor %}
        </div>
    </p>
{% endblock %}
