{% extends 'base.html' %}
{% load static %}

{% block css_additional %}
{% endblock %}

{% block title %} Главная {% endblock %}
{% block content %}
    <h1 class="text-center lh-lg">Последние новости</h1>
    <div class="conteiner px-4">
        <div class="row justify-content-center gy-5">
            {% for news in last_news %}
                <div class="col-md-6">
                    <div class="card text-bg-secondary">
                        <div class="card-header text-center ">
                            <h2><a href="{% url 'news' news.slug_news %}">{{ news.name }}</a></h2>
                        </div>
                        <img src="{{ news.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">{{ news.content|truncatewords:30 }}</p>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'one_category' news.category %}" class="card-link">{{ news.category }}</a>
                        </div>
                        <div class="card-footer">
                            Добавлено: {{ news.time }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <h1 class="text-center lh-lg">Другие новости</h1>
    <div class="conteiner px-4 bg-secondary bg-gradient mt-5 mb-5 pb-3">
    <div class="row justify-content-center gy-5">
        {% for news in page_obj %}
            <div class="col-md-3">
                <div class="card text-bg-dark">
                    <div class="card-header text-center ">
                        <h4><a href="{% url 'news' news.slug_news %}">{{ news.name }}</a></h4>
                    </div>
                    <img src="{{ news.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{% url 'one_category' news.category %}" class="card-link" >{{ news.category }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<nav aria-label="...">
    <ul class="pagination justify-content-center bg-dark">
        {% if page_obj.has_previous %}
            <li class="page-item "><a class="page-link link-dark" href="?page={{page_obj.number|add:-1}}#">Предыдущая</a></li>
        {% endif %}
        {% for page in page_counter %}
            {% if page|add:1 == page_obj.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link link-dark" href="?page={{page|add:1}}">{{ page|add:1 }}</a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link link-dark" href="?page={{page|add:1}}">{{ page|add:1 }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link link-dark" href="?page={{page_obj.number|add:1}}#">Следующая</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
