{% extends 'base.html' %}
{% load static %}


{% block title %} {{ category }} {% endblock %}
{% block content %}
<h1 class="text-center lh-lg">{{ news.name }}</h1>
<div class="card mx-auto vw-100">
    <img src="{{ news.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">{{ news.content }}</p>
        <a href="{% url 'one_category' news.category %}" class="card-link">{{ news.category }}</a>
    </div>
    <h1 class="text-center lh-lg">Комментарии</h1>
    <ul class="list-group list-group-flush">
        {% for comment in comments %}
            <div class="card mx-auto vw-100 px-4 pb-3 m-2" >
                <div class="card-body">
                    <h4 class="card-title">{{ comment.username }}</h4>
                    <p class="card-text">{{ comment.comment_body }}</p>
                    <h6 class="card-subtitle mb-2 text-muted">{{comment.created}}</h6>
                </div>
            </div>
        {% endfor %}
    </ul>
</div>

<form method="post">
    {% csrf_token %}
    {{ form.comment_body }}
<!--    <label for="team_name">Enter name: </label>-->
<!--    <input id="team_name" type="text" name="name_field" value="Default name for team.">-->
    <div class="d-grid d-md-flex justify-content-md-end">
       <button type="submit" class="btn btn-dark m-2">Прокомментировать</button>
    </div>
</form>

{% endblock %}