<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %} {% endblock %}</title>
<!--    <link rel="stylesheet" href="{% static 'css/base.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
    <script defer src="{% static 'js/bootstrap.bundle.min.js' %} ></script>
    {% block css_additional %} {% endblock %}
</head>
<body>
<!--    <header>-->
<!--        <div class="logo"><img src="{% static 'images/logo.png' %}" height="50" width="50" alt="новости"></div>-->
<!--        <div class="name"> <h1>Проект сайта новостей </h1> </div>-->


<!--    </header>-->

    {% block content %} {% endblock %}

    <footer>
        <p>Автор: Лазарев Михаил</p>
        <p>Все права не защищены, сайт является эксперементальным</p>
    </footer>
</body>
</html>